spring:
  application:
    name: identity-service
  profiles:
    active: dev
  cloud:
    config:
      uri: ${CONFIG_SERVER_URL:http://localhost:8888}
      fail-fast: true
  # Global Defaults
  data:
    redis:
      host: redis
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
# Docker Production Profile
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://postgres:5432/hungerbox_identity
    username: hbadmin
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: 5672

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/

---
# Local Development Overrides (Optional)
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5433/hungerbox_identity
    username: user
    password: password