spring:
  application:
    name: identity
  datasource:
    url: jdbc:postgresql://localhost:5433/hungerbox_identity
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8082
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/