services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_MULTIPLE_DATABASES: hungerbox_identity,hungerbox_orders,hungerbox_vendor,hungerbox_payment,hungerbox_wallet,hungerbox_inventory,hungerbox_menu,sonarqube
    volumes:
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - hb_dev_postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"

  sonarqube:
    image: sonarqube:community
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://postgres:5432/sonarqube
      - SONAR_JDBC_USERNAME=hbadmin
      - SONAR_JDBC_PASSWORD=password
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

volumes:
  hb_dev_postgres_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs: