version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"

  #  discovery-server:
  #   build: ./discovery-server
  #   ports:
  #     - "8761:8761"
  #   environment:
  #     - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false

  # config-server:
  #   build: ./config-server
  #   ports:
  #     - "8888:8888"
  #   depends_on:
  #     - discovery-server
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=native
  #     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/

  # api-gateway:
  #   build: ./api-gateway
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     - config-server
  #   environment:
  #     - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
  #     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"