server:
  port: 8761

spring:
  application:
    name: discovery-server
  profiles:
    active: dev

# Common Eureka Server settings
eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname:localhost}:${server.port}/eureka/

---
# Docker Production Profile
spring:
  config:
    activate:
      on-profile: prod

eureka:
  instance:
    hostname: discovery-server