server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        # Open Route: No filter here
        - id: identity
          uri: lb://IDENTITY
          predicates:
            - Path=/auth/** , /user/**

        # Protected Route: AuthenticationFilter applied
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**
          filters:
            - JwtAuthenticationFilter

        # Protected Route: AuthenticationFilter applied
        - id: vendor-service
          uri: lb://VENDOR-SERVICE
          predicates:
            - Path=/vendors/**
          filters:
            - JwtAuthenticationFilter

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/