server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity
          uri: lb://IDENTITY
          predicates:
            - Path=/auth/**
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**
        - id: vendor-service
          uri: lb://VENDOR-SERVICE
          predicates:
            - Path=/vendors/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/