server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: identity
          uri: lb://IDENTITY-SERVICE 
          predicates:
            - Path=/auth/**, /user/**
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**
          filters:
            - JwtAuthenticationFilter
        - id: vendor-service
          uri: lb://VENDOR-SERVICE
          predicates:
            - Path=/vendors/**
          filters:
            - JwtAuthenticationFilter

# Profile specific Discovery URLs
---
spring:
  config:
    activate:
      on-profile: dev
eureka:
  instance:
    ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
---
spring:
  config:
    activate:
      on-profile: prod
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/