server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: dev

# Common Discovery Settings
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

---
# Production Override
spring:
  config:
    activate:
      on-profile: prod

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/